<div ng-show="notFound == true">
    <h2>Sorry, deze zorg werd niet gevonden</h2>
</div>
<div ng-cloak ng-hide="notFound == true">
    <div class="careHeader">
        <h4>{{selectedCare.name}}</h4>
        <p>Klik op een bedrag om het toe te voegen aan je overzicht.</p>
    </div>
    <div class="details">
        <div>
            <h3>Week</h3>
            <div class="standard button" ng-click="selectCare(selectedCare, selectedCare.pricing.normal, 'nw')">
                <p>Standaard</p>
                <p><b>€ {{ selectedCare.pricing.normal }} </b></p>
            </div>
            <div class="increased button" ng-click="selectCare(selectedCare, selectedCare.pricing.increased, 'iw')">
                <p>Verhoogd</p>
                <p><b>€ {{ selectedCare.pricing.increased }}</b></p>
            </div>
            <p>Nomenclatuur: {{ selectedCare.nomen.week }}</p>
        </div>
        <div>
            <h3>Weekend</h3>
            <div class="standard button" ng-click="selectCare(selectedCare, selectedCare.pricing['normal-we'], 'nwe')">
                <p>Standaard</p>
                <p><b>€ {{ selectedCare.pricing['normal-we'] }}</b></p>
            </div>
            <div class="increased button" ng-click="selectCare(selectedCare, selectedCare.pricing['increased-we'], 'iwe')">
                <p>Verhoogd</p>
                <p><b>€ {{ selectedCare.pricing['increased-we'] }}</b></p>
            </div>
            <p>Nomenclatuur: {{ selectedCare.nomen.weekend }}</p>
        </div>
    </div>
</div>