<div class="scrollable">
    <div class="scrollable-content">
        <div id="contact">
            <h2>Contact</h2>
            <p>Interesse in een babbel? Laat ons iets weten via een van volgende kanalen:</p>
            <h3><img src="images/easynurse.png" width="50" /> EasyNurse</h3>
            <table>
                <tr><td><img src="images/envelope.png" width="30" /></td><td><a href="mailto:Nathalie@easynurse.be">Nathalie@easynurse.be</a></td></tr>
                <tr><td><img src="images/phone.png" width="30" /></td><td><a href="tel:052556164">052/556.164</a></td></tr>
            </table>
            <h3><img src="images/eyedocare.png" width="50" /> Eyedocare</h3>
            <table>
                <tr><td><img src="images/envelope.png" width="30" /></td><td><a href="mailto:Joshua@eyeducate.com">Joshua@eyeducate.com</a></td></tr>
                <tr><td><img src="images/phone.png" width="30" /></td><td><a href="tel:0479657056">0479/65.70.56</a></td></tr>
            </table>
        </div>
    </div>
</div>