<h1 class="app-name">Test</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">Test</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>