@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@base: #ffffff;
@secondary: #007AFF;
@green: #007F0E;
@purple: #B200FF;
@lightblue: #00FFFF;
@red: #FF0000;
@orange: #FF6A00;
@blue: #0026FF;
@mainfont: 'Montserrat',
sans-serif;
/* PreHeader */

* {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none; 

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none; 

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none; 
}

body {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none; 

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none; 

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none; 
}

img {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none; 

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none; 

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none; 
}

div#preHeader {
    height: 20px;
    background-color: @secondary;
}

/* Header */

div.header {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: @secondary;
    color: @base;

    text-align: center;

    height: 50px;

    h3{
        margin-top: 16px;
    }

    div{
        vertical-align: middle;

        display: inline-block;
        width: 20%;

        margin: 0;
    }

    img{
        height: 34px;
        margin-top: 8px;
    }


    
    span.center{
        width: 50%;
    }

    div.center{
        width:50%;
    }
    div.left{
        margin-right: 2%
    }
    div.right{
        margin-left: 2%
    }

}

a.userNotif {
    i {
        font-size: 25px;
        margin-top: 15px;
    }
    span {
        position: absolute;
        color: white;
        width: 1.5em;
        height: 1.5em;
        right: 12%;
        top: 0.45em;
        background-color: red;
        border-radius: 2px;
        font-size: 1em;
        line-height: 1em;
        padding-top: 3px;
    }
}

div.homeBtn {
    i {
        margin-top: 15px;
        font-size: 25px;
    }
}

a.biggerLink {
    padding: 10px;
}
/* Search Header */

div.searchHeader {
    text-align: center;
    a {
        text-align: right;
        float: right;
    }
}

div.search-wrapper {
    text-align: left;
    max-width: 85vw;
    input.searchField {
        color: @secondary;
        background-color: transparent;
        border: 0!important;
        border-bottom: 1px solid @secondary !important;
        padding: 0 1em;
        margin: 0.5em;
        width: 85vw;
        &::-webkit-input-placeholder {
            color: @secondary
        }
        &::-moz-placeholder {
            color: @secondary
        }
        &:-ms-input-placeholder {
            color: @secondary
        }
    }
}
/* Categories */

div.catName {
    display: table;
    height: 16vw;
    width: 100%;
    h5 {
        display: table-cell;
        font-size: 4vw;
        padding-top: 10px;
        margin: 0;
        font-weight: 300;
        vertical-align: middle;
    }
    p {
        font-size: 2vw;
    }
}

div.careDiv {
    h3.abbr {

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        border-bottom: 1px solid @secondary;
        text-align: center;
        padding-bottom: 4px;
        font-size: 1.5em;
        font-weight: 600;
    }
    .care-wrapper {
        margin-bottom: 1em;
        background-color: @secondary;
        border-radius: 2px;
        color: @base;
        padding: 1em;
    }
}

div.scrollDiv {
    background-color: @secondary;
}

div.caredetail {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 1.3s;
    transition: max-height 1.3s;
    border: 1px solid;
    padding: 1em;
    .careHeader h4 {
        margin-bottom: 1em;
        font-weight: 600;
        text-align: center;
    }
}



div.caredetail.Open {
    max-height: 1000px;
    overflow: visible;
    text-align: center;
    .button {

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 13vw;
        margin-bottom: 20px;
        border: 3px solid;
        box-shadow: none;
        width: 25vw;
        height: 25vw;
        vertical-align: middle;
        padding-top: 6vw;
        font-size: 4.1vw;
        p {
            margin: 0;
        }
    }

    .button:active{
        -webkit-transform: scale3d(0.9, 0.9, 1);
        border: solid 6px;
    }
}

div.blue {
    background: -webkit-linear-gradient(#1AD6FD, #1D62F0)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1AD6FD, #1D62F0)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1AD6FD, #1D62F0)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1AD6FD, #1D62F0)!important; /* Standard syntax (must be last) */    
}

div.green {
    background: -webkit-linear-gradient(#87FC70, #0BD318)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#87FC70, #0BD318)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#87FC70, #0BD318)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#87FC70, #0BD318)!important;
}

div.orange {
    background: -webkit-linear-gradient(#FF9500, #FF5E3A)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF9500, #FF5E3A)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF9500, #FF5E3A)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF9500, #FF5E3A)!important;   
}

div.purple {
    background: -webkit-linear-gradient(#EF4DB6, #C643FC)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EF4DB6, #C643FC)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EF4DB6, #C643FC)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EF4DB6, #C643FC)!important;   
}

div.red {
    background: -webkit-linear-gradient(#FF5E3A, #FF2A68)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF5E3A, #FF2A68)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF5E3A, #FF2A68)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF5E3A, #FF2A68)!important;   
}

div.lightblue {
    background: -webkit-linear-gradient(#52EDC7, #5AC8FB)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#52EDC7, #5AC8FB)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#52EDC7, #5AC8FB)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#52EDC7, #5AC8FB)!important;
}

div.wrapper {
    overflow: auto;
}

div.button {
    padding-top: 6px;
    text-align: center;
    box-shadow: 5px 5px 10px darkblue;
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    border: solid 2px blue;
    border-radius: 7px;
    display: inline-block;
    margin-bottom: 20px;
}
/* userSummary */

div.clearFix {
    text-align: center;
}

body {
    font-family: @mainfont;
}

div.app-body {
    font-family: @mainfont;
    padding-top: 4em !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: @secondary;

    .app-content {

        padding-bottom: 0px;
        margin-bottom: 0px;
        color: @secondary;
        background-color: @base;
    }
}

div.home.scrollDiv {
    background-color: @base;
}

.scrollable {
    background-color: @base;
    .scrollable-header {
        .section {
            background-color: transparent;
            padding: 0;
            position: fixed;
            width: 100%;
        }
    }
    .scrollable-content {
        .table-wrapper {
            display: table;
            height: 100%;
            width: 100%;
            .wrapper {
                background: url(../images/hexagon.png) center center no-repeat;
                background-size: 71vw;
                display: table-cell;
                vertical-align: middle;
                padding: 20px 0;
                position: relative;
                .overlay {
                    color: @base;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -20vw;
                    margin-left: -20vw;
                    width: 40vw;
                    height: 40vw;
                    padding: 10px;
                    text-align: center;
                    background-color: @secondary;
                    border-radius: 50%;
                    transition: 0.5s linear opacity;
                    transition-delay: 0s;
                    div img {
                        width: 16vw
                    }
                }
            }
            .searchResults {
                color: @secondary;
                .categoryLink {
                    text-align: right;
                    a {
                        color: @secondary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

div.summaryContainer {
    //    display: table;
    width: 100%;
    height: 100%;
    padding: 2.5em;
    div.summaryWrapper {
        //        display: table-cell;
        //        vertical-align: middle;
        text-align: center;
        .detailedDesc {
            border-bottom: 1px solid;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        ul {
            list-style: none;
            padding-left: 15px;
            padding-right: 15px;
        }
        #resetDiv a {
            font-size: 5vw;
            img {
                width: 7vw;
                margin-right: 1vw;
            }
        }
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
    td.detailedDesc {
        font-size: 0.7em;
        padding-left: 5px;
    }
    span.removeListing {
      background-color: red;
      color: #fff;
      padding: 5px;
      padding-left: 9px;
      padding-right: 9px;
      font-size: 120%;
      border-radius: 7px;

      border: none;
    }

    span.removeListing:active {
        border: solid 4px brown;
    }

    ul.priceList{
        text-align: left;
    }

    p.details{
        font-size: 10px;
    }

    h4{
        margin-top: 15px;
    }



}

div.category {
    transition: 0.3s ease opacity;
}

/*div.header {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.35);
    background-color: @secondary;
    z-index: 999999;
    height: 4em;
    div.navbar-brand {
        font-size: 1.4em;
        color: @base;
        padding: 0.9em;
        height: 100%;
    }
}*/

div.btn-group .btn a img {
    height: 2.5em;
}

div.footer {
    min-height: 2.5em;
    height: 2.5em;
    bottom: 20px;
    background-color: @secondary;
    .btn-group {
        a {
            text-transform: lowercase;
            font-size: 1.2em;
            line-height: 2.2em;
            color: @base;
        }
    }
}

#myFooter{
    z-index: 15;
    background-color: @secondary;
    color: @base;
    position: absolute;
    bottom: 0px;
    height: 40px;
    left: 0;
    right: 0;
    padding: 0;
    margin-bottom: 0px;
    overflow: hidden;
}

#myFooter a{
    display: inline-block;
    color: @base;
    width: 32%;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
}

.baseBg {
    background-color: @base !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-0-7 {
    opacity: 0.7 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.careDiv.ng-enter,
.careDiv.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.careDiv.ng-enter.ng-enter-active,
.careDiv.ng-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.careDiv.ng-leave.ng-leave-active,
.careDiv.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.ng-enter,
.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 1;
}

.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 0;
}

// Mixins for cross-browserness
.backface-visibility(@visibility) {
    -webkit-backface-visibility: @visibility;
    -moz-backface-visibility: @visibility;
    -ms-backface-visibility: @visibility;
    backface-visibility: @visibility;
}

.rotateX(@deg) {
    -webkit-transform: rotateX(@deg);
    -moz-transform: rotateX(@deg);
    -ms-transform: rotateX(@deg);
    -o-transform: rotateX(@deg);
    transform: rotateX(@deg);
}

.translate3d(@x,
@y,
@z) {
    -webkit-transform: translate3d(@x, @y, @z);
    -moz-transform: translate3d(@x, @y, @z);
    -o-transform: translate3d(@x, @y, @z);
    transform: translate3d(@x, @y, @z);
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

.transition(@transition) {
    -webkit-transition: ~"-webkit-@{transition}";
    -moz-transition: ~"-moz-@{transition}";
    transition: ~"@{transition}";
}

.transform-style(@style) {
    -webkit-transform-style: @style;
    -moz-transform-style: @style;
    -ms-transform-style: @style;
    transform-style: @style;
}

.transform-origin(@origin) {
    -webkit-transform-origin: @origin;
    -moz-transform-origin: @origin;
    -ms-transform-origin: @origin;
    -o-transform-origin: @origin;
    transform-origin: @origin;
}

.perspective(@perspective) {
    -webkit-perspective: @perspective;
    -moz-perspective: @perspective;
    -ms-perspective: @perspective;
    perspective: @perspective;
}

.clearfix {
    *zoom: 1;
    &:before, &:after {
        display: table;
        content: ""; // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}
/* Contact */

div#contact{
    padding: 15px;
    margin-bottom: 40px;

    p{
        margin-bottom: 10px;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    img{
        margin-top: 7px;
        margin-bottom: 7px;
    }

    table{
        margin-top: 15px;

        td {
            padding-left: 25px;
        }
    } 
}


.counter {
    position: relative;
    left: 50%;
    font-size: 200px;
    width: 1em;
    height: 1em;
    float: left;
    margin-left: -100px;
    .percent {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }
    #slice {
        position: absolute;
        width: 200px;
        height: 200px;
        clip: rect(0px, 1em, 1em, 0.5em);
        .pie {
            border: 0.1em solid #c0c0c0;
            position: absolute;
            width: 0.8em;
            /* 1 - (2 * border width) */
            
            height: 0.8em;
            /* 1 - (2 * border width) */
            
            clip: rect(0em, 0.5em, 1em, 0em);
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            border-radius: 0.5em;
        }
        .pie.fill {
            -moz-transform: rotate(180deg) !important;
            -webkit-transform: rotate(180deg) !important;
            -o-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
        }
    }
    #slice.gt50 {
        clip: rect(auto, auto, auto, auto);
    }
}

.counter.fill {
    .percent-wrapper {
        background-color: #fff;
        width: 180px;
        height: 180px;
        position: absolute;
        z-index: 50;
        top: 10px;
        left: 10px;
        border-radius: 100px;
        .percent {
            position: relative;
            top: 60px;
        }
    }
    #slice {
        .pie {
            border: transparent;
            background-color: @secondary;
            width: 200px;
            height: 200px;
        }
    }
}