<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Square</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="stylesheet" href="css/app.min.css" />
    <link rel="stylesheet" href="css/responsive.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
    <!--<link rel="stylesheet" href="vendorcss/bootstrap.min.css" />-->
    <script src="http://localhost:8001/target/target-script-min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.min.js"></script>
  </head>
  <body ng-app="EanRevCalc" ng-controller="MainController" ontouchstart="">
    <!-- preheader for phone dashboard -->
    <div id="preHeader"></div>
    <!-- Sidebars -->
<!--     <div ng-include="'sidebar.html'" 
            ui-track-as-search-param='true'
            class="sidebar sidebar-left"></div> -->

    <div class="app">
      <!-- Navbars -->
      <div ng-controller="navbarCtrl" class="navbar navbar-app navbar-absolute-top header">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
          Square
        </div>
        <div class="btn-group pull-left">
          <div class="btn homeBtn">
            <a ng-click="goHome()" >
                <img src="images/Home-Icon.png">
            </a>
          </div>
        </div>
        <div class="btn-group pull-right">
          <div ng-controller="userButtonCtrl" class="btn userNotif">
            <a href="#/user" >
                <img src="images/Calc-Icon.png">
                <span ng-show="selectedCares.length > 0"> {{ selectedCares.length }} </span>
            </a>
          </div>
        </div>
      </div>

      <div class="navbar navbar-app navbar-absolute-bottom footer">
        <div class="btn-group justified text-center">
            <a onclick="window.open('http://easynurse.be/', '_system');">easynurse</a>
            <a href="#/contact" class="btn btn-navbar">contact</a>
            <a onclick="window.open('http://eyedocare.com/', '_system');">eyedocare</a>
        </div>
      </div>

<!-- phonegap example code for links
<p><a href="#" onclick="window.open('http://www.nhl.com', '_blank', 'location=yes');">_blank</a></p>
<p><a href="#" onclick="window.open('http://www.nhl.com', '_system', 'location=yes');">_system</a></p>
<p><a href="#" onclick="window.open('http://www.nhl.com', '_self', 'location=yes');">_self</a></p>

-->

      <!-- App Body -->
      <div class="app-body">
        <div class="app-content">
          <ng-view></ng-view>  
        </div>
      </div>
      
    </div><!-- ~ .app -->

  <!-- Modals and Overlays -->
  <div ui-yield-to="modals"></div>

  </body>
</html>